################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BogsyVideoStore/FileContentIndex
/Forms/Transaction.cs
/Forms/Transaction.Designer.cs
/Forms/Transaction.resx
